#program-container {
  color: gray; /* text-base-100 */
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

#article {
    padding-bottom: 2.5rem;
    margin: auto 0;
}
