<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/App/View/css/output.css" rel="stylesheet">
    <link href="/App/View/css/login.css" rel="stylesheet">
    <title>Template</title>
</head>
<body>
    
    <div class="login-box min-h-screen flex justify-center">
      <div class="">
        <img src="../../img/logo-contagem-ativa.png" width="300">
      </div>
      <div class="login-content flex-col lg:flex-row-reverse">
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <form class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Login</span>
              </label>
              <input type="login" placeholder="login" class="input input-bordered" required />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Senha</span>
              </label>
              <input type="password" placeholder="senha" class="input input-bordered" required />
              <label class="label">
                <a href="" class="label-text-alt link link-hover">Esqueceu sua senha?</a>
              </label>
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

</body>
</html>