<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/App/View/css/output.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Menu Principal</title>
</head>

<body class="w-screen h-screen bg-base-200">
    <!--Cabeçalho-->
    <div id="header"></div>

    <!--O conteúdo vai abaixo-->


    <!--Scripts de carregamento de layouts-->
    <script src="../../js/Layout/loadHeader.js"></script>
</body>
</html>