.login-box {
    width: 100%;
    background-size: cover;
    background-position: center;
    place-items: center;
}
.login-box > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem/* 1280px */;
    gap: 1rem/* 16px */;
    padding: 1rem/* 16px */;
}

.card-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0.5rem/* 8px */;
}
.card-body :where(p) {
    flex-grow: 1;
}
.card.image-full > .card-body {
    position: relative;
    z-index: 20;
    --tw-text-opacity: 1;
    color: var(--fallback-nc,oklch(var(--nc)/var(--tw-text-opacity)));
}
.card.compact .card-body {
    padding: 1rem/* 16px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.card-compact .card-body {
    padding: 1rem/* 16px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.card-normal .card-body {
    padding: var(--padding-card, 2rem/* 32px */);
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
}